{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for post in news_images %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <img src="{{ post.image.url }}" class="d-block w-100" alt="...">
        </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div class="container">
        <h5>Movies</h5>
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4">
                <a href="{% url 'movie_detail_url' movie.slug %}">
                    <div class="card_movie">
                        <img class="card_movie_img" src="{{movie.image.url}}" alt="">
                        <div class="card_movie_text">
                            <h6 class="card_movie_title" >{{ movie.title }}</h6>
                            <p class="card_movie_date">{{movie.country}}<span>{{ movie.date | date:"j-d-F" }}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Set up your HTML -->
        <h5>Collections</h5>
        <div class="owl-carousel">
            {% for collection in collections %}
                <a href="{{collection.link}}">
                    <img class="collection_img" src="{{ collection.image.url }}" alt="">
                </a>
            {% endfor %}
        </div>
           <div class="row">
            {% for movie2 in movies2 %}
            <div class="col-md-4">
                <a href="{% url 'movie_detail_url' movie2.slug %}">
                    <div class="card_movie">
                        <img class="card_movie_img" src="{{movie2.image.url}}" alt="">
                        <div class="card_movie_text">
                            <h6 class="card_movie_title" >{{ movie2.title }}</h6>
                            <p class="card_movie_date">{{movie2.country}}<span>{{ movie2.date | date:"j-d-F" }}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}